{% extends "base.html" %}
{% load static wagtailimages_tags wagtailcore_tags %}


{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}

{% endblock extra_css %}

<!-- Hero Section - includes background image and banner heading -->
{% block hero_section %}
    {% image page.bg_image original as bg_img %}
    <div class="content w-full h-screen relative" style="background: 
            linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.4))
            ,url({{ bg_img.url }}) no-repeat center;background-size:cover">

        <div class="banner absolute bottom-48 left-6 w-11/12 mx-auto text-white text-6xl font-semibold">
            {{ page.banner_title }}
        </div>
    </div>
{% endblock hero_section %}

<!-- News card section - cards just under hero section -->
{% block content %}
    <div class="main-content w-full">
        <!-- Cards wrapper -->
        <div class="cards-wrapper flex flex-col justify-center items-center w-9/12 mx-auto bg-white py-8 px-4">
            <!-- Cards container -->
            <div class="cards-container w-full flex mb-6">
                {% image page.card_image_1 original as card_img_1 %}
                {% image page.card_image_2 original as card_img_2 %}
                {% image page.card_image_3 original as card_img_3 %}

                <!-- Single card -->
                <div class="card w-2/6 relative">
                    <img src="{{ card_img_1.url }}" alt="{{ card_img_1.alt }}" class="card-img w-full">
                    <div
                        class="card-text bottom-0 left-0 absolute w-full h-16 flex justify-center items-center text-lg text-white p-4">
                        {{ page.card_title_1 }}
                        <div
                            class="card-play-btn bottom-0 right-0 absolute h-8 w-8 flex justify-center items-center text-lg text-white cursor-pointer">
                            <i class='bx bx-play'></i>
                        </div>
                    </div>
                </div>
                <!-- End of Single card -->

                <!-- Single card -->
                <div class="card w-2/6 relative mx-1">
                    <img src="{{ card_img_2.url }}" alt="{{ card_img_2.alt }}" class="card-img w-full">
                    <div
                        class="card-text bottom-0 left-0 absolute w-full h-16 flex justify-center items-center text-lg text-white p-4">
                        {{ page.card_title_2 }}
                        <div
                            class="card-play-btn bottom-0 right-0 absolute h-8 w-8 flex justify-center items-center text-lg text-white cursor-pointer">
                            <i class='bx bx-play '></i>
                        </div>
                    </div>
                </div>
                <!-- End of Single card -->

                <!-- Single card -->
                <div class="card w-2/6 relative">
                    <img src="{{ card_img_3.url }}" alt="{{ card_img_3.alt }}" class="card-img w-full">
                    <div
                        class="card-text bottom-0 left-0 absolute w-full h-16 flex justify-center items-center text-lg text-white p-4">
                        {{ page.card_title_3 }}
                        <div
                            class="card-play-btn bottom-0 right-0 absolute h-8 w-8 flex justify-center items-center text-lg text-white cursor-pointer">
                            <i class='bx bx-play '></i>
                        </div>
                    </div>
                </div>
                <!-- End of Single card -->
            </div>
            <!-- End of Cards container -->
            <button class="cards-btn bg-transparent font-semibold py-2 px-4 rounded inline-block mb-4">
                See all videos
            </button>
        </div>
        <!--End of  Cards wrapper -->
    </div>
{% endblock content %}

<!-- ADVERT BANNER -->
{% block adv_banner %}
    {% image page.adv_banner original as adv_img %}
        <div class="w-4/5 mx-auto h-28 border-blue-300 relative -top-24">
            <img src="{{ adv_img.url }}" alt="{{ adv_img.alt }}" class="w-full">
        </div>
{% endblock adv_banner %}
<!-- END OF ADVERT BANNER -->

<!-- NEWS SECTION -->
{% block news_section %}
<section class="news-section w-full" id="news">
    <h3 class="news-heading capitalize ml-9 mb-8">News</h3>
    <div class="news_section-grid w-11/12 mx-auto grid grid-cols-3 grid-rows-2 gap-7">
        <!-- Double grid post - top row -->
        <div class="news-cell news-cell-double news-cell-img col-span-2 relative">
            {% image page.news_post_double.image original as img_post_double %}
            {% if page.news_post_double.post_type %}
            <span class="news-cell-action inline-block absolute top-2 left-2 py-1 px-2 text-white z-10">
                {{ page.news_post_double.post_type }}
            </span>
            {% endif %}
            <img src="{{ img_post_double.url }}" alt="{{ img_post_double.alt }}">
            <div class="news-cell-text absolute bottom-0 left-0 w-full px-4 text-white uppercase text-2xl">

                {{ page.news_post_double.post_title }}
                <span class="news-cell-date inline-block absolute bottom-2 left-2 text-xs uppercase">
                    {{ page.news_post_double.date|date:"F j Y, h:i A" }}
                </span>
            </div>
        </div>
        <!-- Text only news - top row -->
        <div class="news-cell news-cell-single news-cell-post relative ">
            {% if page.news_post_text.post_type %}
            <span class="news-cell-action inline-block absolute top-2 left-2 py-1 px-2 text-white z-10">
                {{ page.news_post_text.post_type }}
            </span>
            {% endif %}
            <h3 class="text-3xl uppercase p-2 mb-1">
                {{ page.news_post_text.post_title }}
            </h3>
            <p class="text-base p-2 mb-2">
                {{ page.news_post_text.post_text }}
            </p>
            <span class="news-cell-date inline-block absolute bottom-2 left-2 text-xs uppercase">
                {{ page.news_post_text.date|date:"F j Y, h:i A" }}
            </span>
        </div>
        <!-- BOTTOM NEWS GRID - LEFT SIDE -->
        <div class="news-cell news-cell-single news-cell-img relative">
            {% image page.news_post_left.image original as img_post_left %}
            {% if page.news_post_left.post_type %}
            <span class="news-cell-action inline-block absolute top-2 left-2 py-1 px-2 text-white z-10">
                {{ page.news_post_left.post_type }}
            </span>
            {% endif %}
            <img src="{{ img_post_left.url }}" alt="{{ img_post_left.alt }}">
            <div class="news-cell-text absolute bottom-0 left-0 w-full px-4 text-white uppercase text-2xl">

                {{ page.news_post_left.post_title }}
                <span class="news-cell-date inline-block absolute bottom-2 left-2 text-xs">
                    {{ page.news_post_left.date|date:"F j Y, h:i A" }}
                </span>
            </div>
        </div>
        <!-- END OF BOTTOM NEWS GRID - LEFT SIDE -->

        <!-- BOTTOM MIDDLE COL (ADVERT) -->
        <div class="news-cell news-cell-single news-cell-adv">
            {% image page.adv_sport_news original as img_post_adv %}
            <img src="{{ img_post_adv.url }}" alt="{{ img_post_adv.alt }}">
        </div>
        <!-- END OF BOTTOM MIDDLE COL (ADVERT) -->

        <!-- BOTTOM NEWS GRID - RIGHT SIDE -->
        <div class="news-cell news-cell-single news-cell-img relative">
            {% image page.news_post_right.image original as img_post_right %}
            {% if page.news_post_right.post_type %}
            <span class="news-cell-action inline-block absolute top-2 left-2 py-1 px-2 text-white z-10">
                {{ page.news_post_right.post_type }}
            </span>
            {% endif %}
            <img src="{{ img_post_right.url }}" alt="{{ img_post_right.alt }}">
            <div class="news-cell-text absolute bottom-0 left-0 w-full px-4 text-white uppercase text-2xl">

                {{ page.news_post_right.post_title }}
                <span class="news-cell-date inline-block absolute bottom-2 left-2 text-xs">
                    {{ page.news_post_right.date|date:"F j, Y" }}
                </span>
            </div>

        </div>
        <!-- END OF BOTTOM NEWS GRID - RIGHT SIDE -->
    </div>
    <button class="cards-btn bg-transparent font-semibold py-2 px-4 rounded block mb-4 mt-8 mx-auto">
        See all News
    </button>
</section>
{% endblock news_section %}

{% block matches_dashboard %}
<section class="matches_dashboard-section w-full mt-16" id="matches-section"></section>
    <div class="matches-dashboard relative">
        <div class="matches-dashboard-title text-4xl absolute uppercase mx-6 px-4 ">
            Matches
        </div>
        <!-- Next match counter -->
        <div class="next-match-wrapper flex justify-center mx-auto mt-4">
            <span class="next-match-info uppercase text-white bg-red-500 px-2 mr-4">Next match </span>
            <div class="counter text-lg">
            <!-- Spans content will be controlled by javascript - counting time to next game -->
                <span class="counter-text counter-days">0</span> DAY(S) /
                <span class="counter-text counter-hours">0</span> HOUR(S) /
                <span class="counter-text counter-minutes">0</span> MINS /
                <span class="counter-text counter-seconds">0</span> SECS
            </div>
        </div>
        <div class="matches-info-wrapper">
            {% image page.last_game_home_team.club_logo original as home_club_logo %}
            {% image page.last_game_home_team.other_club_logo original as other_club_logo %}
            <!-- PREVIOUS MATCH -->
            <div
                class="previous-match match-dashboard-details w-1/3 flex flex-col justify-between border-r-4 border-gray-300 pr-4">
                <div class="match-details flex justify-between items-start">
                    <div class="match-details-info flex flex-col w-3/5">
                        <p class="match-type uppercase text-sm text-blue-800 font-semibold">
                            {{ page.last_game_home_team.match_type }}
                        </p>
                        <p class="match-where uppercase text-xs text-gray-500">
                            {{ page.last_game_home_team.match_location }}
                        </p>
                        <p class="match-when uppercase text-xs text-gray-500">
                            {{ page.last_game_home_team.match_date|date:"F j, Y, g:i a" }}
                        </p>
                    </div>
                    <p class="next-match-info uppercase text-sm text-white bg-blue-600 px-2 mr-1">
                        Last match
                    </p>
                </div>
                <div class="match-clubs flex flex-col my-6">
                    <!-- Home club details & score-->
                    <div class="club-names-wrapper flex justify-between">
                        <div class="logo-name my-4 flex h-full w-9/12 items-center text-lg">
                            <img src="{{ home_club_logo.url }}" alt="{{ home_club_logo.alt }}" width="45" class="mr-4">
                            <p class="club-name">
                                {{ page.last_game_home_team.club_name }}
                            </p>
                        </div>
                        <span class="score text-blue-600 text-2xl">
                            {{ page.last_game_home_team.score_home }}
                        </span>
                    </div>
                    <!-- End of home club details & score-->
                    <!-- Away club details & score-->
                    <div class="club-names-wrapper flex justify-between align-center h-40">
                        <div class="logo-name my-4 flex h-full w-9/12 items-center text-lg">
                            <img src="{{ other_club_logo.url }}" alt="{{ other_club_logo.alt }}" width="45" class="mr-4">
                            <p class="club-name">
                                {{ page.last_game_home_team.against_name }}
                            </p>
                        </div>
                        <span class="score text-blue-600 text-2xl">
                            {{ page.last_game_home_team.score_other_team }}
                        </span>
                    </div>
                    <!-- End of away club -->
                </div>
                <div class="march-info-link text-right">
                    <a href="#" class="text-blue-800 hover:text-blue-400 font-semibold uppercase">Match centre &gt;</a>
                </div>
            </div>
            <!--END of PREVIOUS MATCH -->
            <!-- NEXT MATCH -->
            <div
                class="previous-match match-dashboard-details w-1/3 flex flex-col justify-between border-r-4 border-gray-300 px-4">
                {% image page.next_game_detail.club_logo original as nextgame_home_club_logo %}
                {% image page.next_game_detail.other_club_logo original as nextgame_other_club_logo %}
                <div class="match-details flex justify-between items-start">
                    <div class="match-details-info flex flex-col w-3/5">
                        <p class="match-type uppercase text-sm text-blue-800 font-semibold">
                            {{ page.next_game_detail.match_type }}
                        </p>
                        <p class="match-where uppercase text-xs text-gray-500">
                            {{ page.next_game_detail.match_location }}
                        </p>
                        <p class="match-when uppercase text-xs text-gray-500">
                            {{ page.next_game_detail.match_date|date:"F j, Y, g:i a" }}
                        </p>
                        <input type="datetime" class="hidden" id="js-next-game-date"
                            value="{{ page.next_game_detail.match_date }}">
                        </input>
                    </div>
                    <p class="next-match-info uppercase text-sm text-white bg-blue-600 px-2 mr-1">
                        Next match
                    </p>
                </div>
                <div class="next-match-wrapper flex">
                    <!-- Clubs section -->
                    <div class="match-clubs flex flex-col my-6 w-9/12 border-r-4 border-gray-300">
                        <!-- Home club details-->
                        <div class="club-names-wrapper flex justify-between">
                            <div class="logo-name my-4 flex h-full w-full items-center text-lg">
                                <img src="{{ nextgame_home_club_logo.url }}" alt="{{ nextgame_home_club_logo.alt }}"
                                    width="45" class="mr-4">
                                <p class="club-name">
                                    {{ page.next_game_detail.club_name }}
                                </p>
                            </div>
                        </div>
                        <!-- End of home club details-->
                        <!-- Away club details-->
                        <div class="club-names-wrapper flex justify-between align-center h-40">
                            <div class="logo-name my-4 flex h-full w-full items-center text-lg">
                                <img src="{{ nextgame_other_club_logo.url }}" alt="{{ nextgame_other_club_logo.alt }}"
                                    width="45" class="mr-4">
                                <p class="club-name">
                                    {{ page.next_game_detail.against_name }}
                                </p>
                            </div>
                        </div>
                        <!-- End of away club -->
                    </div>
                    <!-- Clubs section -->
                    <!-- Match-date-display -->
                    <div class="match-date-display w-3/12 h-full flex flex-col justify-center items-center ">
                        <p class="next-match-date-day text-3xl text-blue-800">
                            {{ page.next_game_detail.match_date|date:"d" }}
                        </p>
                        <p class="next-match-date-day-name text-lg text-blue-800">
                            {{ page.next_game_detail.match_date|date:"D" }}
                        </p>
                    </div>
                    <!-- End of Match-date-display -->
                </div>
                <div class="march-info-link text-right">
                    <a href="#" class="text-blue-800 hover:text-blue-400 font-semibold uppercase">Match centre &gt;</a>
                </div>
            </div>
            <!-- END OF NEXT MATCH -->
            <!-- League table -->
            <div class="league-table match-dashboard-details w-1/3 flex flex-col pl-4">
                {% image page.league_table_team_info_pos1.team_logo original as pos1_logo %}
                {% image page.league_table_team_info_pos2.team_logo original as pos2_logo %}
                {% image page.league_table_team_info_pos3.team_logo original as pos3_logo %}
                <p class="match-type uppercase text-sm text-blue-800 font-semibold max-w-max">
                    PREMIER LEAGUE 2020/2021
                </p>
                <!-- Table wrapper -->
                <div class="table-wrapper w-full h-full p-4">
                    <table class="league-table w-full">
                        <!-- Table heading -->
                        <tr
                            class="league-table-heading league-table-row border-t-2 border-b-2 border-gray-400 uppercase text-xs text-gray-400 font-extralight">
                            <td class="w-8">POS</td>
                            <td class="px-16">TEAM</td>
                            <td class="w-8">P</td>
                            <td class="w-8">GD</td>
                            <td class="w-8">PTS</td>
                        </tr>
                        <!--End of table heading -->
                        <tr class="row-separator h-6"></tr>
                        <!-- First team -->
                        <tr class="my-4">
                            <td>
                                {{ page.league_table_team_info_pos1.league_position }}
                            </td>
                            <td class="px-2 flex">
                                <img src="{{ pos1_logo.url }}" alt="{{ pos1_logo.alt }}" width="25">
                                <span class="capitalize ml-4">
                                    {{ page.league_table_team_info_pos1.team_name }}
                                </span>
                            </td>
                            <!-- Games played -->
                            <td class="w-8">
                                {{ page.league_table_team_info_pos1.games_played }}
                            </td>
                            <!-- Goals difference -->
                            <td class="w-8">
                                {{ page.league_table_team_info_pos1.goals_diff }}
                            </td>
                            <!-- Points -->
                            <td class="w-8">
                                {{ page.league_table_team_info_pos1.points }}
                            </td>
                        </tr>
                        <!-- End of first team -->
                        <tr class="row-separator h-6"></tr>
                        <!-- Second team -->
                        <tr class="py-4">
                            <td>
                                {{ page.league_table_team_info_pos2.league_position }}
                            </td>
                            <td class="px-2 flex">
                                <img src="{{ pos2_logo.url }}" alt="{{ pos2_logo.alt }}" width="25">
                                <span class="capitalize ml-4">
                                    {{ page.league_table_team_info_pos2.team_name }}
                                </span>
                            </td>
                            <!-- Games played -->
                            <td class="w-8">
                                {{ page.league_table_team_info_pos2.games_played }}
                            </td>
                            <!-- Goals difference -->
                            <td class="w-8">
                                {{ page.league_table_team_info_pos2.goals_diff }}
                            </td>
                            <!-- Points -->
                            <td class="w-8">
                                {{ page.league_table_team_info_pos2.points }}
                            </td>
                        </tr>
                        <!-- End of second team -->
                        <tr class="row-separator h-6"></tr>
                        <!-- Third team -->
                        <tr class="py-4">
                            <td>
                                {{ page.league_table_team_info_pos3.league_position }}
                            </td>
                            <td class="px-2 flex">
                                <img src="{{ pos3_logo.url }}" alt="{{ pos3_logo.alt }}" width="25">
                                <span class="capitalize ml-4">
                                    {{ page.league_table_team_info_pos3.team_name }}
                                </span>
                            </td>
                            <!-- Games played -->
                            <td class="w-8">
                                {{ page.league_table_team_info_pos3.games_played }}
                            </td>
                            <!-- Goals difference -->
                            <td class="w-8">
                                {{ page.league_table_team_info_pos3.goals_diff }}
                            </td>
                            <!-- Points -->
                            <td class="w-8">
                                {{ page.league_table_team_info_pos3.points }}
                            </td>
                        </tr>
                        <!-- End of third team -->
                    </table>
                </div>
                <!-- End of table wrapper -->
                <!-- Full table view link -->
                <div class="march-info-link text-right">
                    <a href="#" class="text-blue-800 hover:text-blue-400 font-semibold uppercase">Full table &gt;</a>
                </div>
                <!-- End of Full table view link -->
            </div>
            <!-- End of League table -->
        </div>
        <div class="watch-container flex items-center px-4">
            {% image page.watch.watch_type original as img_watch %}
            {% image page.watch.watch_image original as watch_image %}
            {% image page.watch.watch_hrs original as watch_hrs %}
            {% image page.watch.watch_minutes original as watch_min %}
            {% image page.watch.watch_seconds original as watch_sec %}
            {% image page.watch.watch_name_tag original as watch_name_tag %}
            <div class="watch-name-wrapper mx-1">
                <img src="{{ img_watch.url }}" alt="" class="watch-name w-full">
            </div>
            <div class="watch-img-wrapper relative mx-1"
                style="background-image:url({{ watch_image.url }});background-repeat:no-repeat;background-position:center;background-size:cover;">
                <!-- <img src="{{ watch_image.url }}" alt="" class="watch-image w-full"> -->
                <div class="tip-handle-hr z-10">
                    <img src="{{ watch_hrs.url }}" alt="" class="watch-hrs">
                </div>
                <div class="tip-handle-min z-20">
                    <img src="{{ watch_min.url }}" alt="" class="watch-minutes watch-tip-position">
                </div>
                <div class="tip-handle-sec z-30">
                    <img src="{{ watch_sec.url }}" alt="" class="watch-seconds watch-tip-position">
                </div>
            </div>
            <div class="watch-tag-wrapper mx-1">
                <img src="{{ watch_name_tag.url }}" alt="" class="watch-name-tag w-full">
            </div>
        </div>

    </div>
</section>
{% endblock matches_dashboard %}

<!-- Featured videos section -->
{% block featured_videos %}
<section class="featured-videos w-full my-24 relative" id="videos-section">
    <h3 class="news-heading capitalize ml-9 mb-8">Featured video</h3>
    <div class="featured-videos-wrapper flex w-11/12 mx-auto">
        {% image page.featured_video.image original as img_video %}
        <div class="featured-video-wrapper w-3/5 h-full relative z-10">
            <img src="{{ img_video.url }}" alt="{{ img_video.alt }}" class="card-img w-full">
            <div
                class="card-play-btn bottom-0 right-0 absolute h-8 w-8 flex justify-center items-center text-lg text-white cursor-pointer">
                <i class='bx bx-play'></i>
            </div>
        </div>
        <div class="featured-video-text-wrapper news-cell-post w-3/6">
            <div class="featured-video-text-content w-5/6 ml-auto relative">
                <h3 class="text-3xl uppercase p-2 mb-1 ml-auto">
                    {{ page.featured_video.post_title }}
                </h3>
                <p class="text-base p-2 mb-6 ml-auto">
                    {{ page.featured_video.post_text }}
                </p>
                <div class="date-and-social flex justify-between p-2">
                    <div class="news-cell-date">
                        <span class="text-xs uppercase">
                            {{ page.featured_video.date|date:"F j, Y" }}
                        </span>
                    </div>
                    <div class="social-links">
                        <ul class="social-list inline-block flex justify-evenly">
                            <li class="social-list-item mr-4">
                                <a href="{{ settings.site_settings.SocialMediaSettings.facebook }}" class="social-link">
                                    <i class='bx bxl-facebook'></i>
                                </a>
                            </li>
                            <li class="social-list-item mr-4">
                                <a href="{{ settings.site_settings.SocialMediaSettings.twitter }}" class="social-link">
                                    <i class='bx bxl-twitter'></i>
                                </a>
                            </li>
                            <li class="social-list-item mr-4">
                                <a href="#" class="social-link">
                                    <i class='bx bx-link'></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock featured_videos %}

<!-- Social media latest section -->
{% block social_media %}
<section class="latest-social-media w-full mt-32">
    <h3 class="news-heading capitalize ml-9 mb-8">LATEST FROM SOCIAL</h3>
    <!-- cards container -->
    <div class="social-cards-container w-11/12 mx-auto flex">
        <!-- Single card (no image) -->
        <div
            class="social-card w-1/4 mr-2 p-4 bg-white shadow-lg rounded-sm h-full flex flex-col justify-between relative">
            <!-- Card heading -->
            <div class="social-card-heading flex items-center">
                <div class="social-card-heading-logo">
                    <img src="/media/images/cfc-league-logo.max-165x165.png" alt="logo">
                </div>
                <div class="social-card-heading-text flex flex-col ml-2">
                    <p class="heading-title uppercase text-lg text-blue-600">
                        Chelsea FC
                    </p>
                    <p class="heading-handle text-xs text-gray-400 font-extralight">
                        @ChelseaFC
                    </p>
                </div>
                <div class="social-card-heading-date flex flex-col items-center w-16 ml-auto">
                    <a href="#" class="social-card-heading-link">
                        <i class='bx bxl-twitter text-blue-500'></i>
                    </a>
                    <span>29 Apr</span>
                </div>
            </div>
            <!-- End of card heading -->
            <!-- Card body -->
            <div class="social-card-body">
                Something needs to change.

                We want social media companies to do more to prevent online discriminatory abuse. So we’re joining
                forces with other
                teams and organisations to boycott social media until Tuesday 4 May.
            </div>
            <!-- End of Card body -->
            <!-- Hashtags -->
            <div class="social-card-hashtags mb-12">
                <p class="text-blue-400">
                    #NoToHate #StopOnlineAbuse #NoRoomForRacism
                </p>
            </div>
            <!-- End of Hashtags -->
            <div class="social-card-links absolute bottom-5 left-0 w-full">
                <ul class="social-card-list inline-block flex justify-evenly">
                    <li class="social-card-list-item">
                        <a href="" class="social-card-link">
                            <i class='bx bx-reply'></i>
                        </a>
                    </li>
                    <li class="social-card-list-item">
                        <a href="" class="social-card-link">
                            <i class='bx bx-repost'></i>
                        </a>
                    </li>
                    <li class="social-card-list-item">
                        <a href="" class="social-card-link">
                            <i class='bx bxs-heart'></i>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- Card footer -->
            <div class="social-card-footer absolute bottom-0 left-0 w-full h-4 bg-blue-600">

            </div>
            <!-- End of Card footer -->
        </div>
        <!-- End of Single card (no image) -->

        <!-- Single card (no image) -->
        <div
            class="social-card w-1/4 mr-2 p-4 bg-white shadow-lg rounded-sm h-full flex flex-col justify-between relative">
            <!-- Card heading -->
            <div class="social-card-heading flex items-center">
                <div class="social-card-heading-logo">
                    <img src="/media/images/cfc-league-logo.max-165x165.png" alt="logo">
                </div>
                <div class="social-card-heading-text flex flex-col ml-2">
                    <p class="heading-title uppercase text-lg text-blue-600">
                        Chelsea FC
                    </p>
                    <p class="heading-handle text-xs text-gray-400 font-extralight">
                        @ChelseaFC
                    </p>
                </div>
                <div class="social-card-heading-date flex flex-col items-center w-16 ml-auto">
                    <a href="#" class="social-card-heading-link">
                        <i class='bx bxl-twitter text-blue-500'></i>
                    </a>
                    <span>3 May</span>
                </div>
            </div>
            <!-- End of card heading -->
            <!-- Card body -->
            <div class="social-card-body">
                An important message from the boss.
            </div>
            <!-- End of Card body -->
            <!-- Hashtags -->
            <div class="social-card-hashtags mb-12">
                <p class="text-blue-400">
                    #NoToHate #StopOnlineAbuse #NoRoomForRacism
                </p>
            </div>
            <!-- End of Hashtags -->
            <div class="social-card-links absolute bottom-5 left-0 w-full">
                <ul class="social-card-list inline-block flex justify-evenly">
                    <li class="social-card-list-item">
                        <a href="" class="social-card-link">
                            <i class='bx bx-reply'></i>
                        </a>
                    </li>
                    <li class="social-card-list-item">
                        <a href="" class="social-card-link">
                            <i class='bx bx-repost'></i>
                        </a>
                    </li>
                    <li class="social-card-list-item">
                        <a href="" class="social-card-link">
                            <i class='bx bxs-heart'></i>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- Card footer -->
            <div class="social-card-footer absolute bottom-0 left-0 w-full h-4 bg-blue-600">

            </div>
            <!-- End of Card footer -->
        </div>
        <!-- End of Single card (no image) -->

        <!-- Single card (with image) -->
        <div
            class="social-card w-1/4 mr-2 p-4 bg-white shadow-lg rounded-sm h-full flex flex-col justify-between relative">
            <div class="social-card-img w-11/12 mx-auto">
                <img src="/media/images/tammy.jpg" alt="">
            </div>
            <!-- Card heading -->
            <div class="social-card-heading flex items-center">
                <div class="social-card-heading-logo">
                    <img src="/media/images/cfc-league-logo.max-165x165.png" alt="logo">
                </div>
                <div class="social-card-heading-text flex flex-col ml-2">
                    <p class="heading-title uppercase text-lg text-blue-600">
                        Chelsea FC
                    </p>
                    <p class="heading-handle text-xs text-gray-400 font-extralight">
                        @ChelseaFC
                    </p>
                </div>
                <div class="social-card-heading-date flex flex-col items-center w-16 ml-auto">
                    <a href="#" class="social-card-heading-link">
                        <i class='bx bxl-twitter text-blue-500'></i>
                    </a>
                    <span>4 May</span>
                </div>
            </div>
            <!-- End of card heading -->
            <!-- Card body -->
            <div class="social-card-body">
                You've got a friend in him
            </div>
            <!-- End of Card body -->
            <!-- Hashtags -->
            <div class="social-card-hashtags mb-12">
                <p class="text-blue-400">
                    @tammyabraham! 😅 pic.twitter.com/QsVJunnaNu
                </p>
            </div>
            <!-- End of Hashtags -->
            <div class="social-card-links absolute bottom-5 left-0 w-full">
                <ul class="social-card-list inline-block flex justify-evenly">
                    <li class="social-card-list-item">
                        <a href="" class="social-card-link">
                            <i class='bx bx-reply'></i>
                        </a>
                    </li>
                    <li class="social-card-list-item">
                        <a href="" class="social-card-link">
                            <i class='bx bx-repost'></i>
                        </a>
                    </li>
                    <li class="social-card-list-item">
                        <a href="" class="social-card-link">
                            <i class='bx bxs-heart'></i>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- Card footer -->
            <div class="social-card-footer absolute bottom-0 left-0 w-full h-4 bg-blue-600">

            </div>
            <!-- End of Card footer -->
        </div>
        <!-- End of Single card (with image) -->

        <!-- Single card (with image) -->
        <div
            class="social-card w-1/4 mr-2 p-4 bg-white shadow-lg rounded-sm h-full flex flex-col justify-between relative">
            <div class="social-card-img w-11/12 mx-auto">
                <img src="/media/images/training (2).jpg" alt="">
            </div>
            <!-- Card heading -->
            <div class="social-card-heading flex items-center">
                <div class="social-card-heading-logo">
                    <img src="/media/images/cfc-league-logo.max-165x165.png" alt="logo">
                </div>
                <div class="social-card-heading-text flex flex-col ml-2">
                    <p class="heading-title uppercase text-lg text-blue-600">
                        Chelsea FC
                    </p>
                    <p class="heading-handle text-xs text-gray-400 font-extralight">
                        @ChelseaFC
                    </p>
                </div>
                <div class="social-card-heading-date flex flex-col items-center w-16 ml-auto">
                    <a href="#" class="social-card-heading-link">
                        <i class='bx bxl-twitter text-blue-500'></i>
                    </a>
                    <span>4 May</span>
                </div>
            </div>
            <!-- End of card heading -->
            <!-- Card body -->
            <div class="social-card-body">
                We just love seeing 𝘁𝗵𝗮𝘁 smile
            </div>
            <!-- End of Card body -->
            <!-- Hashtags -->
            <div class="social-card-hashtags mb-12">
                <p class="text-blue-400">
                    pic.twitter.com/wwzNlVsRsk
                </p>
            </div>
            <!-- End of Hashtags -->
            <div class="social-card-links absolute bottom-5 left-0 w-full">
                <ul class="social-card-list inline-block flex justify-evenly">
                    <li class="social-card-list-item">
                        <a href="" class="social-card-link">
                            <i class='bx bx-reply'></i>
                        </a>
                    </li>
                    <li class="social-card-list-item">
                        <a href="" class="social-card-link">
                            <i class='bx bx-repost'></i>
                        </a>
                    </li>
                    <li class="social-card-list-item">
                        <a href="" class="social-card-link">
                            <i class='bx bxs-heart scale-90'></i>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- Card footer -->
            <div class="social-card-footer absolute bottom-0 left-0 w-full h-4 bg-blue-600">

            </div>
            <!-- End of Card footer -->
        </div>
        <!-- End of Single card (with image) -->
    </div>
    <!-- end of cards container -->
</section>
{% endblock social_media %}
<!-- End of Social media latest section -->

<!-- Sponsors display board -->
{% block sponsors_board %}
<section class="sponsors_board w-full py-16 bg-white my-16">
    <!-- Uploading all the images from sponsors board -->
    {% image page.club_sponsors_board.main_sponsor_1 original as main_sponsor_1 %}
    {% image page.club_sponsors_board.main_sponsor_2 original as main_sponsor_2 %}
    {% image page.club_sponsors_board.sponsor_1 original as sponsor_1 %}
    {% image page.club_sponsors_board.sponsor_2 original as sponsor_2 %}
    {% image page.club_sponsors_board.sponsor_3 original as sponsor_3 %}
    {% image page.club_sponsors_board.sponsor_4 original as sponsor_4 %}
    {% image page.club_sponsors_board.sponsor_5 original as sponsor_5 %}
    {% image page.club_sponsors_board.sponsor_6 original as sponsor_6 %}
    {% image page.club_sponsors_board.sponsor_7 original as sponsor_7 %}
    {% image page.club_sponsors_board.sponsor_8 original as sponsor_8 %}
    {% image page.club_sponsors_board.sponsor_9 original as sponsor_9 %}
    {% image page.club_sponsors_board.sponsor_10 original as sponsor_10 %}
    {% image page.club_sponsors_board.sponsor_11 original as sponsor_11 %}
    {% image page.club_sponsors_board.sponsor_12 original as sponsor_12 %}
    {% image page.club_sponsors_board.sponsor_13 original as sponsor_13 %}
    {% image page.club_sponsors_board.sponsor_14 original as sponsor_14 %}

    <div class="sponsors-logo-wrapper grid grid-cols-7 grid-rows-3 gap-x-2.5 gap-y-10 justify-center w-10/12 mx-auto">
        <!-- Top row -->
        <div class="lg-sponsor-logo col-start-3 col-end-4 flex w-64">
            <a href="#">
                <img src="{{ main_sponsor_1.url }}" alt="{{ main_sponsor_1.alt }}">
            </a>
        </div>
        <div class="lg-sponsor-logo col-start-5 col-end-6 flex w-64">
            <a href="#">
                <img src="{{ main_sponsor_2.url }}" alt="{{ main_sponsor_2.alt }}">
            </a>
        </div>
        <!-- End of Top row -->
        <!-- Middle row -->
        <!-- Col 1 -->
        <div class="sm-sponsor-logo col-start-1 col-end-2 flex justify-center">
            <a href="#">
                <img src="{{ sponsor_1.url }}" alt="{{ sponsor_1.alt }}">
            </a>
        </div>
        <!-- Col 2 -->
        <div class="sm-sponsor-logo col-start-2 col-end-3 flex justify-center">
            <a href="#">
                <img src="{{ sponsor_2.url }}" alt="{{ sponsor_2.alt }}">
            </a>
        </div>
        <!-- Col 3 -->
        <div class="sm-sponsor-logo col-start-3 col-end-4 flex justify-center">
            <a href="#">
                <img src="{{ sponsor_3.url }}" alt="{{ sponsor_3.alt }}">
            </a>
        </div>
        <!-- Col 4 -->
        <div class="sm-sponsor-logo col-start-4 col-end-5 flex justify-center">
            <a href="#">
                <img src="{{ sponsor_4.url }}" alt="{{ sponsor_4.alt }}">
            </a>
        </div>
        <!-- Col 5 -->
        <div class="sm-sponsor-logo col-start-5 col-end-6 flex justify-center">
            <a href="#">
                <img src="{{ sponsor_5.url }}" alt="{{ sponsor_5.alt }}">
            </a>
        </div>
        <!-- Col 6 -->
        <div class="sm-sponsor-logo col-start-6 col-end-7 flex justify-center">
            <a href="#">
                <img src="{{ sponsor_6.url }}" alt="{{ sponsor_6.alt }}">
            </a>
        </div>
        <!-- Col 7 -->
        <div class="sm-sponsor-logo col-start-7 col-end-8 flex justify-center">
            <a href="#">
                <img src="{{ sponsor_7.url }}" alt="{{ sponsor_7.alt }}">
            </a>
        </div>
        <!-- End of Middle row -->
        <!-- Bottom row -->
        <!-- Col 1 -->
        <div class="sm-sponsor-logo col-start-1 col-end-2 flex justify-center">
            <a href="#">
                <img src="{{ sponsor_8.url }}" alt="{{ sponsor_8.alt }}">
            </a>
        </div>
        <!-- Col 2 -->
        <div class="sm-sponsor-logo col-start-2 col-end-3 flex justify-center">
            <a href="#">
                <img src="{{ sponsor_9.url }}" alt="{{ sponsor_9.alt }}">
            </a>
        </div>
        <!-- Col 3 -->
        <div class="sm-sponsor-logo col-start-3 col-end-4 flex justify-center">
            <a href="#">
                <img src="{{ sponsor_10.url }}" alt="{{ sponsor_10.alt }}">
            </a>
        </div>
        <!-- Col 4 -->
        <div class="sm-sponsor-logo col-start-4 col-end-5 flex justify-center">
            <a href="#">
                <img src="{{ sponsor_11.url }}" alt="{{ sponsor_11.alt }}">
            </a>
        </div>
        <!-- Col 5 -->
        <div class="sm-sponsor-logo col-start-5 col-end-6 flex justify-center">
            <a href="#">
                <img src="{{ sponsor_12.url }}" alt="{{ sponsor_12.alt }}">
            </a>
        </div>
        <!-- Col 6 -->
        <div class="sm-sponsor-logo col-start-6 col-end-7 flex justify-center">
            <a href="#">
                <img src="{{ sponsor_13.url }}" alt="{{ sponsor_13.alt }}">
            </a>
        </div>
        <!-- Col 7 -->
        <div class="sm-sponsor-logo col-start-7 col-end-8 flex justify-center">
            <a href="#">
                <img src="{{ sponsor_14.url }}" alt="{{ sponsor_14.alt }}">
            </a>
        </div>
        <!-- End of Bottom row -->
    </div>
</section>
{% endblock sponsors_board %}