
/* GENERAL SETTINGS */
body, html {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color:  #EBE6DF;
    position: relative;
    z-index: -100;
}

hr.hr-style {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}

/* NAVIGATION */

    /* TOP NAVBAR */
.nav-top {
    background-color: #03f;
}

a.nav-top-link::after {
    content: " ";
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: 3px;
    height: 3px;
    background-color: #fff;
    visibility: hidden;
    transition: all 0.3s;
}

a.nav-top-link:hover:after {
    width: 100%;
    visibility: visible ;
}

.sponsor-logo {
    transform: scale(.9);
    transition: transform .5s;
}

.sponsor-logo:hover {
    transform: scale(1.1);
}

    /* Submanu NAVBAR */

.nav-bottom {
    background-color: transparent;
    transition: all .8s;
}

.nav-bottom:hover {
    background-color: #fff;
}

.nav-bottom-link {
    transition: color .5s;
    position: relative;
}

.nav-bottom:hover .nav-bottom-link {
    color: #140a47;
    transition: color 0.5s .2s;
}

a.nav-bottom-link::after {
    content: " ";
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: 3px;
    height: 3px;
    background-color: #03f;
    visibility: hidden;
    transition: all 0.3s;
}

a.nav-bottom-link:hover:after {
    width: 100%;
    visibility: visible ;
}

.nav-bottom-link i {
    transition: transform 0.5s;
}

.nav-bottom-link:hover i {
    transform: scale(1.2);
}

.nav-bottom-link-right {
    overflow: hidden;
}

.nav-bottom-link-right a{
    transition: text-shadow 0.5s;
}

.nav-bottom-link-right:hover a {
    text-shadow: 1px 1px 2px rgba(0,0,0,.5);
}

/* RESPONSIVE NAV */
.responsive-nav {
    background-color: #03f;
    z-index: 500;
    opacity: 0;
    transform: scale(0) rotate(270deg);
    transform-origin: top right;
    transition: all 1.2s;
}

.hamburger-menu {
    display: none;
}

/* Styling of navbar when resizing */
.change .responsive-nav {
    /* display: block;
    transform: scale(1); */
}

.change.responsive-nav {
    transform: scale(1) rotate(0deg);
    opacity: 1;
    transition: all 1.2s;
}

/* Hero section */
.content {
    transform: translateY(-10%);
    z-index: -10;
}

.content img {
    width: 100%;
}

.block-heading {
    font-size: 35px;
    margin-top: 30px;
}

.block-image img {
    width: 100%;
    height: auto;
}

/* Cards section - just under hero section */
.main-content {
    background-color: #EBE6DF;
    transform: translateY(-20%);
}

.cards-wrapper {
    transform: translateY(-10%);
    z-index: 50;
}

.card-container {
    position: relative;
}

.card {
    overflow: hidden;
}

.card-text {
    background-color: rgba(0, 0,0, .6);
}

.card-play-btn {
    background-color: #03f;
}

.card-img {
    transition: transform 0.6s;
}

.card:hover .card-img {
    transform: scale(1.1);
}

.cards-btn {
    width: 15rem;
    border: 1px solid #001489;
    color: #03f;
    font-weight: 500;
    overflow: hidden;
    position: relative;
    transition: color .4s;
}

.cards-btn::after {
    content: " ";
    background-color: #03f;
    border-radius: 30px 30px 0 0;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    width: 5px;
    height: 5px;
    visibility: hidden;
    z-index: -1;
    transition: transform .4s, visibility 0.3s;
}

.cards-btn:hover:after {
    transform: translate(-50%, 0) scale(50);
    visibility: visible;
}

.cards-btn:hover {
    color: #fff;
    transition: color .4s;
}

/* NEWS section */
.news-section {
    transform: translateY(-10%);
}

.news-heading {
    text-transform: uppercase;
    color: #140a47;
    font-size: 2.5rem;
    font-weight: 600;
}

.news-cell {
    height: 25rem;
    overflow: hidden;
}

.news-cell-img img {
    width: 100%;
    object-fit: fill;
    transform: scale(1);
    transition: transform .6s;
}

.news-cell-img:hover img {
    transform: scale(1.1);
}

.news-cell-action {
    background-color: #03f;
}

.news-cell-text {
    background-color: rgba(0, 0,0, .5);
    min-height: 7.5rem;
}
.news-cell-post {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border:0.8rem solid #001489;
    transition: all .5s;
}

.news-cell-post:hover {
    animation: borderHover 1.5s infinite;
}

.news-cell-adv {
    border: 1.5rem solid rgba(255,255,255,0.6);
}

/* MATCHES DASHBOARD */
.matches-dashboard {
    width: 95%;
    margin: 0 auto;
    height: 28rem;
    border: 1rem solid #001489;
}

.matches-dashboard-title {
    color: #140a47;
    font-weight: 600;
    top: 0;
    left: 50%;
    transform: translate(-65%, -70%);
    background-color: #EBE6DF;
}

.counter {
    color: #140a47;
}

.matches-info-wrapper {
    width: 98%;
    height: auto;
    margin: 2rem auto;
    display: flex;
}

.club-names-wrapper {
    height: 4.5rem;
    align-items: center;
}

.league-table {
    border-spacing: 1rem 0;
}

/* WATCH STYLING */
.watch-container {
    background-color: #EBE6DF;
    position: absolute;
    bottom: 0%;
    left:50%;
    transform: translate(-50%,55%)
}

.watch-name-wrapper, .watch-name-tag {
    width: 6rem;
}

.watch-img-wrapper {
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tip-handle-hr {
    width: 6px;
    height: 30px;
    position: absolute;
    top: 27%;
    left: 45%;
    transform-origin: 3px 26px 10px;
}

.tip-handle-min {
    width: 6px;
    height: 35px;
    position: absolute;
    top: 22%;
    left: 45%;
    transform-origin: 3px 32px 10px;
}

.tip-handle-sec {
    width: 6px;
    height: 55px;
    position: absolute;
    top: 14%;
    left: 45%;
    transform-origin: 3px 42px 10px;
}

.watch-hrs, .watch-minutes, .watch-seconds {
    height: 100%;
}
/* END OF WATCH STYLING */
/*END OF MATCHES DASHBOARD */

/* FEATURED VIDEO SECTION */
.featured-video-text-wrapper {
    transform: translate(-15%, 15%);
}

.social-list-item {
    width: 30px;
    height: 30px;
    border: 1px solid #140a47;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    transition: background-color 0.5s;
}

.social-list-item i {
    color: #03f;
    transition: color 0.5s
}

.social-list-item:hover {
    background-color: #03f;
}

.social-list-item:hover i {
    color: #fff;
}

.featured-video-wrapper {
    overflow: hidden;
}

.featured-video-wrapper img {
    transform: scale(1);
    transition: transform 0.6s ;
}

.featured-video-wrapper:hover img {
    transform: scale(1.1);
}
/* END OF FEATURED VIDEO SECTION */

/* SOCIAL MEDIA LATEST  */
.social-cards-container {
    height: 28.5rem;
}

.social-card-link i{
    font-size: 1.5rem;
    color: #EBE6DF;
    transition: text-shadow 0.5s, color .5s;
}

.social-card-link:hover i{
    text-shadow: 1px 1px 2px rgba(0,0,0,.2);
}

/* HART on hover */
.social-card-list-item:hover i.bxs-heart{
    color: #e0245e;
}
/* Re-post on hover */
.social-card-list-item:hover i.bx-repost{
    color: #55cf8d;
}
/* reply on hover */
.social-card-list-item:hover i.bx-reply{
    color: #03f;
}

.social-card-img img{
    width: 100%;
    object-fit: cover;
}
/* END OF SOCIAL MEDIA LATEST  */

/* SPONSORS BOARD */
.sm-sponsor-logo {
    width: 9.5rem;
    height: 4.5rem;
}

.lg-sponsor-logo, .sm-sponsor-logo {
    overflow: hidden;
}

.sm-sponsor-logo img, .lg-sponsor-logo img{
    width: 100%;
    object-fit: cover;
    transform: scale(1);
    opacity: 0.75;
    transition: all 0.5s;
}

.sm-sponsor-logo:hover img, .lg-sponsor-logo:hover img{
    transform: scale(1.1);
    opacity: 1;
}

/* FOOTER STYLING */
.footer-social-item {
    width: 30px;
    height: 30px;
    border: 1px solid #140a47;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 5px rgba(0,0,0,.2);
    background-color: transparent;
    transition: background-color 0.5s, box-shadow 0.5s;
}

.footer-social-item:hover {
    background-color: #03f;
    box-shadow: 2px 2px 15px rgba(0,0,0,.2);
}

.footer-social-item a {
    color: #140a47;
    transition: color 0.5s;
}

.footer-social-item:hover a {
    color: #fff;
}

.footer-navbar-item a {
    font-size: 1.2rem;
    text-shadow: 1px 1px 2px rgba(0,0,0,.2);
    transition: color 0.5s, text-shadow 0.5s;
}

.footer-navbar-item:hover a {
    text-shadow: 1px 1px 5px rgba(0,0,0,.2);
    color: #03f;
}

/* END OF STYLING */

@keyframes borderHover {
    0% {
      border-top-color: #03f;
    }
    25% {
      border-left-color: #03f;  
    }
    50% {
      border-bottom-color: #03f;  
    }
    75% {
      border-right-color: #03f;  
    }
    100% {
      border-top-color: #03f;  
    }
}

/* RESPONSIVE DESIGN */
@media screen and (max-width: 900px) {
    .nav-top {
        height: 1.5rem;
    }
    
    .nav-top-logo {
        top: .5rem;
        left: .5rem;
    }

    .large-screen-sponsors-menu {
        margin-left: auto;
    }

    .hamburger-menu {
        position: absolute;
        display: block;
        right: 2rem;
        top: .7rem;
    }

    .large-screen-main-nav {
        display: none;
    }

    .large-screen-submenu-nav {
        display: none;
    }
}